// import google fonts and variables style sheet
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700;900&display=swap');
@import "_variables.scss";

//  fonts
$font-game: 'Press Start 2P', cursive;
$font-title: 'Orbitron', sans-serif;

// ----------------
// main title styling

.heading {
  font-family: $font-title;
  color: $colour-green;
  margin: 12px;
  letter-spacing: 2px;
  text-shadow: -2px -2px 0 #000,
               2px -2px 0 #000,
               -2px 2px 0 #000,
               2px 2px 0 #000;
}

#mainHeading {
  font-size: 64px;
  font-style: italic;
}

#mainHeading2 {
  font-size: 28px;
  margin-left: 50px;
}

#heading2-slanted {
  font-style: italic;
}
//  -----------------

// lives, level and moves display font styling
.gameInfo {
  font-family: $font-game;
  font-size: 18px;
  color: $colour-orange;
  text-shadow: -1px -1px 0 #000,
               1px -1px 0 #000,
               -1px 1px 0 #000,
               1px 1px 0 #000;
}

// instructions text sttyling
.instructions {
  color: white;
  font-size: 22px;
  font-family: $font-title;
  letter-spacing: 2px;
  margin: 0px;
  text-shadow: -1px -1px 0 $colour-red,
               1px -1px 0 $colour-red,
               -1px 1px 0 $colour-green,
               1px 1px 0 $colour-green;
}

// general text styling
p {
  color: $colour-purple;
  font-size: 38px;
  font-family: $font-game;
  font-weight: bold;

  text-shadow: -1px -1px 0 #ccc,
               1px -1px 0 #ccc,
               -1px 1px 0 #ccc,
               1px 1px 0 #ccc;
}

// game over message font styling
.gameOver {
  color: $colour-red;
  font-size: 38px;
  font-family: $font-game;
  font-weight: bold;
  letter-spacing: 2px;

  text-shadow: -1px -1px 0 #ccc,
               1px -1px 0 #ccc,
               -1px 1px 0 #ccc,
               1px 1px 0 #ccc;
}

// reset button font styling
#resetButton {
  color: $colour-purple;
  font-size: 24px;
  font-family: $font-game;
  font-weight: bold;

  text-shadow: -1px -1px 0 #ccc,
               1px -1px 0 #ccc,
               -1px 1px 0 #ccc,
               1px 1px 0 #ccc;
}